/* all forms */


#main-wrapper form {
  // inputs
  input[type='text'], textarea, input[type='password'] {
    @include border-radius(4px);
    border-color:#bbb;
    margin:0;
    padding-left:5px;
    &:focus {
      border-color:$color-text-grey;
    }
  }

  // input padding, sans textarea
  input[type='text'], input[type='password'], input[type='email'] {
    padding-top:5px;
    padding-bottom:5px;
  }
  /*
  textarea {
    width:432px;
  }*/
  .grippie {display:none;}
}

fieldset legend,
html.js fieldset.collapsible .fieldset-legend {
  @include wrap();
  display:block;
  width:100%;
}

html.js fieldset.collapsed {
  height:auto !important; // or
}

// white arrows
html.js fieldset.collapsible .fieldset-legend {
  background-image:url($pathImg + 'menu-expanded-wht.png');
}

html.js fieldset.collapsed .fieldset-legend {
  background-image:url($pathImg + 'menu-collapsed-wht.png');  
}

// ajax icon override
html.js input.form-autocomplete {
  background-position:100% 5px;
}

.field-type-link-field label,
.field-type-link-field .link-field-subrow,
.field-type-link-field .link-field-subrow .link-field-url,
.field-type-link-field .link-field-subrow .link-field-url .form-item,
.field-type-link-field .description {
  display:block;
}

.field-type-link-field .link-field-subrow{
  float:left;
}

.field-type-link-field .description {
  font-style:italic;
  padding-left:15px;
}

.form-type-textarea {
  @include wrap();

  .form-textarea-wrapper {
    float:left;
    width:69%;
  }
}



































































/* layouts */

// login, register, etc.
.page-user-register, .page-user-login {
  
  form {
    padding:15px 0;
    width:630px;
  
    .form-item {
      display:block;
      padding:10px 0;
    }
  
    label {
      float:left;
      min-width:190px;
      width:23%;
    }
  
    .form-item input {
      width:429px;
    }
  
    input#edit-captcha-response {width:390px;}
  }
}

#main-report-wrapper,
.section-verification #block-system-main,
.page-user-apply #block-system-main,
.page-node-add-data-person #block-system-main,
.page-node-add-data-company #block-system-main {
  @include wrap();
  background:url($pathImg + 'bg_pattern_forms.png') 0 0 repeat;
  border:1px solid #d4d4d4;
  padding:20px 0;
}
// no sidebars
.section-verification,
.page-user-apply,
.page-node-add-data-person,
.page-node-add-data-company {
  
  form {
    background:$color-white;
    border:1px solid #e2e2e2;
    margin:0 auto;
    max-width:850px; // prototype
    padding:20px 15px;
    width:80%; // prototype
  }
  label {
    min-width:190px;
    width:23%;
  }
}

// sidebar page
.section-beta {
  
  .region-content .field-name-body {
    float:left;
    margin-right:20px;
    width:300px;
  }
  
  form {
    float:right;
    width:435px;
  }

  label {
    width:25%;
  }
}


































































// all forms sans user-forms
.section-verification,
.page-user-apply,
.page-node-add-data-person,
.page-node-add-data-company,
.section-beta,
.page-user-register {

  h1 {
    text-align:center;
  }
  
  form {    
    @include wrap();

    input,
    select,
    textarea {
      margin:0; 
    }

    // ajax headers
    th, thead th {
      background:none;
      border:0;
    }
    
    // tables
    tr.odd, tr.even {
      background:none;
      border:0;
      padding:0;
    }

    // fieldsets
    fieldset {
      @include wrap();
      @include border-radius(4px);
      border:1px solid #dcdcdc;
      margin:0 auto;
      padding:0;
    
      // inner fieldsets
      fieldset {
        background:none;
        border:0;
        margin:0;
        padding:0;
      }

      // fieldset wrappers
      .fieldset-wrapper {
        background:$color-white;
        padding-top:20px;
      }
    }

    // labels
    label {
      float:left;
      line-height:24px;
      padding-left:2%;
      text-align:left;
    }

    // legends
    legend {
      @include border-radius(5px);
      @include gradient('formHeader');
      color:$color-white;
      padding-left:15px;

      a, a:link, a:visited {
        color:$color-white;
        text-decoration:none;

        &:hover {
          text-decoration:underline;
        }
      }
    }

    // generic checkbox styles
    .form-type-checkbox {
      clear:both;
      display:block;
    }

    // text & email inputs
    input[type='text'],
    input[type='email'] {
      @include border-radius(2px);
      border:1px solid #bbb;
      width:68%;
    }
    
    // submit buttons
    input[type='submit'] {
    @include eiq_action_btn(auto, 44px);
    float:left;
    font-size:15px;
    margin:10px 15px 0 !important;
    padding:0 15px !important; //or
      &:hover {
        cursor:pointer;
      }
    }

    // inline buttons
    #edit-sac,
    #edit-submit,
    #edit-cancel {
        float:left;
        margin-right:15px;
    }
  }

  /*fields*/
  
  .form-item {
    clear:left;
  }
  
  .form-item, 
  .field-group-fieldset.group-company .fieldset-wrapper .form-wrapper {
    padding-bottom:15px;
    margin:0;
  }

  .form-type-checkbox .form-item label.option {
    font-weight:bold;
    line-height:20px;
  }

  .field-type-field-collection {
    padding:15px 0;
  }

  // agreement fields
  .field-name-field-disclaimer,
  .field-name-field-agree-final {
    @include wrap();
    padding:10px 0;
  }
  
  /* prototype overrides */
  .field-name-field-address-city,
  .field-name-field-address-state,
  .field-name-field-address-zip {
    float:none;
    display:block;
  }

  .field-name-field-address-state .form-select {
    width:auto;
  }

  // city input
  .field-name-field-address-city {
    @include wrap();
  }

  .field-name-field-address-zip {
    display:block;
    float:none; /* overrides, prototype */
  
    label {
      line-height:13px;
    }
  
    input[type='text'] {
      margin-top:5px;
      //width:90px;
    }
  }
}







































































/* page specific styles */

// person/company forms
.page-node-add-data-person,
.page-node-add-data-company {
  .form-item-field-address-und-0-field-address-full-und-0-postal-code {
    clear:both;
  }
}

































































/* sample report card */
#main-report-wrapper, #main-report-wrapper div {
  @include wrap();
}

#main-report-inner {
  display:block;
  margin:0 auto;
  width:760px;
}

#reported-company,
#report-body .group-body {
  background-color:$color-white;
  border:1px solid #dcdcdc;
}
 
  #reported-company {
    @include border-radius(5px);
  }

  #report-body .group-body {
    @include mega-border-radius(0, 0, 5px, 5px);
  }


// header
#report-header {
  clear:both;

  #logo {
    float:left;
    min-width:250px;
    
    img {
      background:none;
      border:none;
      margin-bottom:15px;
    }
  }

  h1 {
    display:inline-block;
    float:right;
    font-size:18px;
    line-height:36px !important;
    padding-top:15px;
    min-width:250px;
  }
}

// company header
#reported-company {
  clear:both;
  margin:0 0 20px;
  padding:20px 0 0;

  .left {
    float:left;
    padding:0 0 0 30px;
    width:45%;

    p {
      font-size:12px;
      line-height:17px;
    }
    
    p.address {
      margin:0;
    }
    
    .website a {
      color:#098eba;
      font-weight:bold;
      text-decoration:none;
    }
  }
  
  .right {
    float:right;
    padding:25px 50px 0 0;
    width:30%;
    font-size:12px;
  }
  
  h2 {
    color:#252525;
    font-size:18px;
    padding-bottom:15px;
  }
  
  ul li {
    padding-bottom:2px;
  }

  #reportedh2,
  p.address,
  p.phone,
  label, 
  ul li span {
  font-weight:bold;
  }
}

// report card body
#report-body {
  clear:both;

  .report-group {
    margin-bottom:15px;
  }

  .group-header {
    @include mega-border-radius(4px);
    @include gradient('formHeader');
    clear:both;
    display:block;
    height:20px;
    padding:10px 0;
    width:759px; // border alignment
    &.expand-group {
      @include mega-border-radius(4px, 4px, 0, 0);
    }

    h3,
    .rating,
    .toggle,
    .no-toggle {
      @include text-shadow(1px, 1px, 1px, #333);
      color:$color-white;
    }

    h3,
    .rating {
      float:left;
    }
    
    .rating,
    .toggle {
      font-size:12px;
      line-height:22px;
      text-transform:uppercase;
    }

    h3{
      color:$color-white;
      font-size:17px;
      line-height:18px;
      padding-left:20px;
      width:250px;
    }

    .rating {
      width:185px;
      
      label {
        float:left;
        font-weight:normal;
        padding-right:15px;
      }
      
      .stars {
        @include hide-text();
        @include size(117px, 24px);
        background-image:url($pathImg + 'sprite_report-stars.png');
        background-repeat:no-repeat;
      
        &.one {background-position:0 -2px;}
        &.one-half {background-position:0 -32px;}
        &.two {background-position:0 -62px;}
        &.two-half {background-position:0 -92px;}
        &.three {background-position:0 -122px;}
        &.three-half {background-position:0 -152px;}
        &.four {background-position:0 -182px;}
        &.four-half {background-position:0 -212px;}
        &.five {background-position:0 -242px;}

      }
    }
    // toggle general
    .no-toggle, .toggle {
      float:right;
      margin-right:20px;
      padding-right:20px;
    }

    .no-toggle {
      font-size:10px;
      line-height:22px;
      margin-right:5px;
      padding-right:5px;
      text-transform:lowercase;
      text-transform:capitalize;
    }

    .toggle.opened,
    .toggle.closed {
      background:url($pathImg + 'btn_report-toggle.png') right 4px no-repeat;
      text-transform:uppercase;

      &:hover {
        cursor:pointer;
      }
    }  

    .toggle.closed {
        background-position:right -83px;
    }
    
    // toggle functionality
    .toggle.opened {display:none;}
    &.expand-group .toggle.opened {display:block;}
    &.expand-group .toggle.closed {display:none;}
  }
  
  .toggle-container {
    display:none;
    opacity:0;
    @include animation(500);
  }
  .toggle-container.active {
    display:block;
    opacity:1;
    @include animation(500);
  }

  .group-body {
    ul {
      margin:0;
      padding:0;
    }

    ul li {
      @include wrap();
      border-bottom:1px solid #c3c3c3;
      clear:both;
      display:block;
      padding:6px 0 2px;
      
      ul {
        list-style-type:disc;
      }
      
      li {
        border:0;
        padding:0 0 0 15px;
      }
      
      .left-col {
        font-weight:bold;
        float:left;
        padding-left:20px;
        width:250px;
      }

      .report-icon {
        @include hide-text();
        @include size(30px, 25px);
        float:left;
        background:url($pathImg + 'sprite_report-checks.png') 0 0 no-repeat;
      
        &.fail {background-position:0 -30px;}
        &.warn {background-position:0 -60px;}
        &.note {background-position:0 -90px;}
      }
      
      .right-col {
        float:left;
        margin:0;
        padding-left:15px;
        width:375px;
      
        p {
          margin:0;
          padding:0;
        }
      }
    }
  }
}