/***********************************
*   BelieveOutLoud Base Stylesheet
*   Developer: tragic{media}
*   Created: September 2012
***********************************/
//
//
//
//
//
//
//
//
//
// mixins
@mixin clr(){
  clear:both;
  display:block;}
@mixin font($weight: normal, $style: normal, $size: 12px, $lineheight: 14px, $family: arial) {
  font-family:$family;
  font-size:  $size;
  font-style: $style;
  font-weight:$weight;
  line-height:$lineheight;} // @include font(normal, normal, 12px, 14px, $font-featured);
@mixin hide-text () {
  display:block;
  overflow:hidden;
  white-space:nowrap;
  text-indent:105%;} // 105 for firefox
@mixin opacity($opacity) {
  opacity:$opacity;
  $opacity:$opacity * 100;
  filter alpha{opacity:$opacity};} // @include opacity(0);
@mixin size($x: 0, $y: 0) {
  width: $x;
  height:$y;}
@mixin sprite($l: 0, $t: 0, $repeat: no-repeat) {
  background: url($pathSprite) $l $t $repeat;} // @include sprite(0, 0, no-repeat);;
@mixin wrap() {
  height:auto;
  overflow:hidden;}
@mixin animation($speed) {
  -moz-transition:   $speed+ms;
  -webkit-transition:$speed+ms;
  transition:        $speed+ms;} // @include animation(500ms)
@mixin border-radius ($r: 5px) {
  -o-border-radius:     $r;
  -khtml-border-radius: $r;
  -moz-border-radius:   $r;
  -webkit-border-radius:$r;
  border-radius:        $r;} // @include border-radius(40px);
@mixin box-shadow ($x: 0px, $y: 0px, $blur: 2px, $color: #CCC) {
  -khtml-box-shadow:  $x $y $blur $color;
  -moz-box-shadow:    $x $y $blur $color;
  -o-box-shadow:      $x $y $blur $color;
  -webkit-box-shadow: $x $y $blur $color;
  box-shadow:         $x $y $blur $color;} // @include box-shadow(0,0,0,#ccc);
@mixin mega-border ($topsize: 1px, $top: #333, $rightsize: 1px, $right: #333, $bottomsize: 1px, $bottom: #333, $leftsize: 1px, $left: #333) {
  border-top:      $topsize solid $top;
  border-right:  $rightsize solid $right;
  border-bottom:$bottomsize solid $bottom;
  border-left:    $leftsize solid $left;} // @include mega-border(1px, #333, 1px, #333, 1px, #333,1px, #333);
@mixin mega-border-radius ($tl: 5px, $tr: 5px, $br: 5px, $bl: 5px) {
     -o-border-top-left-radius:$tl;-khtml-border-top-left-radius:$tl;-moz-border-top-left-radius:$tl;-webkit-border-top-left-radius:$tl;border-top-left-radius:$tl;
    -o-border-top-right-radius:$tr;-khtml-border-top-right-radius:$tr;-moz-border-top-right-radius:$tr;-webkit-border-top-right-radius:$tr;border-top-right-radius:$tr;
 -o-border-bottom-right-radius:$br;-khtml-border-bottom-right-radius:$br;-moz-border-bottom-right-radius:$br;-webkit-border-bottom-right-radius:$br;border-bottom-right-radius:$br;
  -o-border-bottom-left-radius:$bl;-khtml-border-bottom-left-radius:$bl;-moz-border-bottom-left-radius:$bl;-webkit-border-bottom-left-radius:$bl;border-bottom-left-radius:$bl;} // @include mega-border-radius(5px, 5px, 5px, 5px);
@mixin text-shadow ($x: 0px, $y: 1px, $blur: 1px, $color: #000) { 
  -khtml-text-shadow: $x $y $blur $color;
  -moz-text-shadow:   $x $y $blur $color;
  -o-text-shadow:     $x $y $blur $color;
  -webkit-text-shadow:$x $y $blur $color;
  text-shadow:        $x $y $blur $color;} // @include text-shadow(0,0,0,#000);
  @mixin transition($property: all, $method: ease-in, $speed: 1000, $delay: 0) {
  -moz-transition:    $property $method $speed+ms $delay+ms;
  -webkit-transition: $property $method $speed+ms $delay+ms;
  transition:         $property $method $speed+ms $delay+ms;} // @include transition(all, , ease-in, 800ms, 0);
@mixin gradient($color) {
  @if $color==blue_btn {
    background: rgb(34,91,160); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIyNWJhMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDczYmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(34,91,160,1) 0%, rgba(0,115,187,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(34,91,160,1)), color-stop(100%,rgba(0,115,187,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(34,91,160,1) 0%,rgba(0,115,187,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(34,91,160,1) 0%,rgba(0,115,187,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(34,91,160,1) 0%,rgba(0,115,187,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(34,91,160,1) 0%,rgba(0,115,187,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#225ba0', endColorstr='#0073bb',GradientType=0 ); /* IE6-8 */
}} //  @include gradient(base-color); (ex: gradient(grey);
@mixin eiq_action_btn($w: 200px, $h: 44px) {
    $radius: $h/2;
    @include size($w, $h);
    @include border-radius($radius);
    @include gradient('blue_btn');
    border:0 !important;
    color:$color-white;
    display:block;
    font-size:25px;
    line-height:$h;
    text-align:center;
    text-decoration:none;
    &:focus, &:hover {
      background:$color-header-green;
    }} //  @include eiq_action_btn(217px, 44px);
//
//
//
//
//
//
//
//
//
// vars
  $pathImg: '../images/';
  $pathSprite: $pathImg + 'eiq_sprite.png';
  $color-black:#000000;
  $color-white:#ffffff;
  $color-header-green:#62a934;
  $color-blue:#235A9F;
  $color-text-grey:#889297;
  $color-link-grey:#6a7276;
  $color-light-grey:#e5e7e9;
  $font-primary: 'helvetica' helvetica, arial, sans-serif;
//
//
//
//
//
//
//
//
//
// wysiwyg
.block_quote {
  display:block;
  padding:20px 30px !important;
  text-align:center;}
.float_left {float:left;}
.float_right {float:right;}
.clear_both {clear:both;display:block;}
//
//
//
//
//
//
//
//
//
// theme Stylesheet

body {
  -webkit-font-smoothing:antialiased; //mac
}

h2, li, a,  p{
  font-family:$font-primary;
}

h1, h2, h3 {
  font-weight:bold;
}

h1, h2 {
  color:$color-blue;
}

h2, h3 {
  margin:0 0 5px !important;
}

h1 {
  font-size:32px;
  line-height:34px;
}

h2 {
  font-size:24px;
  line-height:26px;
}

h3 {
  color:$color-text-grey;
  font-size:16px;
  line-height:18px;
}

body.front {
 // background-image:url($pathImg + 'bg-test.png') !important;
  background-repeat:repeat-x;
  background-position-y:-4px;
}

body.front.logged-in {
  background-position-y:25px;
}

#block-system-user-menu.block {
  margin-bottom:5px !important;
}

.closure {
  background:$color-text-grey;
}

#block-nodeblock-35 h2 {
  background:url($pathImg + $pathSprite) 372px 2px no-repeat; 
  clear:right;
  color:$color-blue;
  float:left;
  font-size:30px;
  font-weight:normal;
  line-height:32px;
  overflow:hidden;
  padding:10px 95px 0 0;
}

.start-links {
  padding-left:65px;
  p a {
    @include eiq_action_btn(217px, 44px);
    &:first {
      margin-bottom:30px;
    }
    &:hover {
      // tbd
    }
  }
}

.region-highlighted .block-nodeblock {
  border-top:6px solid $color-light-grey;
}
//
//
//
//
//
//
//
//
//
// footer overrides
#block-menu-menu-footer {
  
  ul, ul li {
    list-style:none !important;
    margin:0;
    padding:0;

    a {
      text-decoration:none !important;
    }
  }
}
//
//
//
//
//
//
//
//
//
// Style overrirdes
// post launch these will become part of the primary 
// stylesheet, adjustmests will be necessary
// certain hooks used intentionally to override settings
// in zombie stylesheets. These will be removed and updated
// as well.

.front header {
  // border-bottom:0 !important; // rem!i.
  border-bottom:3px solid #ccc;
  margin: 0 0 15px;
  padding:30px 0 14px;
}
.front #content {
  margin:0 !important;
}

/* font styles */
#block-system-main-menu ul li a {
  border:0 !important;
  color:$color-link-grey;
  font-size:15px !important; // rem!i;
  &:hover, &.active {
    color:$color-blue !important;
  }
//  a:hover {color:$color-blue !important;}
}


#block-views-seven-features-block-block .views-row .views-field-body,
#block-views-seven-features-block-block .views-row .views-field-body p,
#block-views-seven-features-block-block .views-row .views-field-body h2,
#block-views-seven-features-block-block .views-row .views-field-body h3,
#slider-read-more span,
.trust-text p,
a.views-more-link {
  color:$color-text-grey;
  font-size:15px;
  font-weight:normal;
  line-height:22px;
}
a.views-more-link:hover {
  color:$color-blue;
}

#block-views-seven-features-block-block {

  .views-row { 
  
    .views-field-body {
      p, h2, h3 {
        font-size:17px;
        line-height:26px;
      }
    }
  
    .views-field-title {
      display:block;
      height:90px;
  
      a {
        display:block;
        padding:10px 0 0;
      }
    }
  
    &.views-row-2 .views-field-title a {
      padding-left:40px;
    }
  
    &.views-row-3 .views-field-title a {
      display:block;
      padding:20px 0 0 70px; // very specific, may need to adjust
    }
  } 
}

.view-id-seven_features_block .views-field-title a,
.view-id-seven_features_block .views-field-title a.visited {
  color:$color-header-green !important; // long hook is override
}

/* watermark */
#content-wrap {
  background:url($pathImg + 'watermark.png') 20px bottom no-repeat;
  padding-bottom:35px;
  min-height:650px;
}

.region-footer .block {margin:0;}
.messages.error{display:none;}//tmp

//
//
//
//
//
//
//
//
//
// slideshow
#block-views-earlyiq-slideshow-block-block {
  @include size(100%, 395px);
  display:block;

  #slider-read-more {
    background:url($pathImg + 'icon_slider_read-more.png') 0 -3px no-repeat;
    clear:left;
    float:left;
    padding-left:20px;
    // this is going to be a link to content

    a {
      color:$color-text-grey;
      font-size:17px;
      line-height:19px;
      text-decoration:none;
      &:hover {color:$color-blue;}
    }
  }

  .view-content {padding-bottom:35px;}

  .slideshow-items {
    @include size(960px, 414px);
    ul, ul li, ul .item-list {list-style:none;margin:0;padding:0;}

    .views-row {
      @include size(960px, 410px);
      background:#fff;
      display:block;
      position:relative;

      .views-field {
        background:$color-white;
        clear:left;
        display:block;
        float:left;
        overflow:hidden;
        padding-left:30px;
        width:320px;

        &.views-field-title,
        &.views-field-body {
          width:290px;
        }

        &.views-field-title {
            color:$color-blue;
            font-size:28px;
            line-height:32px;
            padding-top:50px;
            padding-bottom:5px;
            text-decoration:none;
        }

        &.views-field-body p {
          color:#889297;
          font-size:20px;
          line-height:22px;
        }

        &.views-field-field-slide-image {
          @include size(605px, 410px);
          background:none;
          clear:none;
          float:none;
          padding-left:5px;
          position:absolute;
          top:0;
          right:5px;
          img {
            @include box-shadow(0px, 3px, 7px, #222);
          }
        }
      }
    }
  }
}

.page-dots {
  bottom:0;
  text-align:center;
  width:100%;

  a {
    @include animation(600);
    @include hide-text();
    @include border-radius(50%);
    background:#cbcccd;
    display:inline-block;
    float:none !important; // /* js or */
    margin-right:5px;
    width:13px;
    height:13px;

    &.active {
      @include animation(600);
      background:#38659e;
    }

    &.last {margin-right:0;}
  }
}
//
//
//
//
//
//
//
//
//
//
// form styles 
/* all forms first */


#main-wrapper form {

  fieldset {
      
    legend {

    }
   
    .fieldset-wrapper {
      
    }
  }
  
  .form-item, .form-wrapper {

  }

  select {

  }

  input[type='text'], textarea {
    @include border-radius(2px);
    border-color:#bbb;
    margin:0;
    &:focus {
      border-color:$color-text-grey;
    }
  }

  input[type='text'], input[type='password'], input[type='email'] {
    padding-top:5px;
    padding-bottom:5px;
  }
  textarea {

  }

  input[type='submit'] {
    @include eiq_action_btn(auto, 44px);
    float:left;
    font-size:15px;
    margin:0 15px !important;
    padding:0 15px !important; //or
    
    &:hover {
      cursor:pointer;
    }
  }
  
  .grippie {display:none;}
}

//
//
//
//
//
//
//
//
//
// form-specific styles

// login, register, etc.
//.page-user-register-beta, 
.page-user-register, .page-user-login {
  
  form {
    padding:15px 0;
    width:630px;
  
    .form-item {
      display:block;
      padding:10px 0;
    }
  
    label {
      float:left;
      width:195px;
    }
  
    .form-item input {
      width:429px;
    }
  
    fieldset.captcha.form-wrapper {
      @include border-radius(2px);
      width:394px;
    }
  
    input#edit-captcha-response {width:390px;}
  }
}


// company and personal application forms
.page-node-add-data-person, .page-node-add-data-company {
  
  h1 {text-align:center;}
  
  form {
    margin:0 auto;
    width:500px;
    
    fieldset {
      @include border-radius(10px);
      //border-color:$color-light-grey;
      border:0;
  
      fieldset {
        border:0;
        margin:0;
        padding:0;
      }
    }
    
    input, select, textarea {
      margin:0; 
    }
    
    input[type='text'] {
      @include border-radius(2px);
      width:429px;
    }
    
    input[type='submit'] {
      /*
      &#edit-sac {width:200px;}
      &#edit-submit {width:90px;}
      &#edit-cancel {width:115px;}
      &#edit-field-invite-officers-und-add-more--2 {width:180px;}
*/  }
    #edit-sac,
    #edit-submit,
    #edit-cancel {
        float:left;
        margin-right:15px;
    }
    
    // ajax headers
    th, thead th {
      @include border-radius(5px);
      background:$color-blue;
      border:0;
      color:$color-white;
    }
    
    tr.odd, tr.even {
      background:none;
      border:0;
      padding:0;
    }
  }

  /*fields*/

  .field-type-field-collection {
    padding:15px 0;
  }
  // agreement fields
  .field-name-field-disclaimer,
  .field-name-field-agree-final {
    @include wrap();
    @include border-radius(5px);
    background:$color-header-green;
    color:$color-white;
    padding:10px 0;

    .form-item {
      padding-left:15px;
    }
  }

  // company name
  .field-name-field-company-type {
    float:left;
    width:210px;
  }

  .field-name-field-industry {
    float:left;
    width:276px;
    
    select {
      width:276px;
    }
  }

  // address inputs
  .field-name-field-address-address1 .form-text,
  .field-name-field-address-address2 .form-text {
    width:409px;
  }

  // city input
  .field-name-field-address-city .form-text {
    width:230px;
  }
}

.page-node-add-data-company form {

}

.page-node-add-data-person form {

}
//
//
//
//
//
//
//
//
//
// menu dropdown styles
.menu-minipanels .menu-block-wrapper ul.menu li a,
.menu-minipanels .menu-block-wrapper ul.menu li.last a,
.menu-minipanels .menu-block-wrapper ul.menu li.leaf a,
#block-menu-menu-what-we-do ul li a,
#block-menu-menu-what-we-do ul li.last a,
#block-menu-menu-what-we-do ul li.leaf a {
  color:$color-text-grey;
    text-decoration:none;
    &:hover, &.active {color:$color-blue;}
}

.menu-minipanels .menu-block-wrapper ul.menu {
  @include wrap();
  background: none repeat scroll 0 0 white;
  border-color: #60A940 #CCC #CCC;
  border-style: solid;
  border-width: medium 1px 1px;
  margin-left: 0;
  padding: 10px 10px 10px 10px;
  margin-top: -3px;
  box-shadow: 1px 3px 6px #333;
  li, li.leaf, li.last {
    clear:both;
    display:block;
    float:left;
    list-style:none !important;
    margin:0 0 0 5px;
    padding:3px 0 6px;
  }
}
// menu block-system-main-menu
#block-menu-menu-what-we-do {
  ul li {
    list-style:none !important;
  }
}